/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

body {
    background-color: #272f41;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.c-nav_menu_background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.c-nav_menu_background_inner {
    left: 300px;
    overflow: hidden;
}

.c-nav_menu_background_inner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url(menu.jpg);
    background-position: 65% 50%;
    background-size: cover;
}

.c-nav_menu_inner {
    display: inline;
    word-break: normal;
}

.c-nav_menu_inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.c-nav_menu_list_wrapper {
    margin-top: 100px;
}

.c-nav_menu_list.-main .c-nav_menu_item a {
    font-size: 24px;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    box-sizing: border-box;
}

.c-nav_menu_list.-main .c-nav_menu_item a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;

    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);    
}

.c-nav_menu_list.-main .c-nav_menu_item a:hover:before,
.c-nav_menu_list.-main .c-nav_menu_item a:focus:before {
    opacity: 100;
    transform: translate3d(0, 0, 0);
}

.c-nav_menu_list.-main .c-nav_menu_item a:hover .c-nav_menu_item_sup {
    opacity: 100;
}

.c-nav_menu_list.-secondary .c-nav_menu_item a {
    font-size: 14px;
}

.c-nav_menu_list.-secondary .c-nav_menu_item a:hover {
    color: #d3d3d3;
}

.c-nav_menu_list.-langs a {
    margin-right: 4px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5em;
}

.c-nav_menu_list.-langs a:first-child {
    margin-left: 40px;
}

.c-nav_menu_list.-langs a:hover {
    color: #d3d3d3;
}

.c-nav_menu_item_sup {
    font-size: .75rem;
    position: absolute;
    top: 20%;
    left: calc(100% + 5px);
    opacity: 0;
}

.c-about {
    color: #fb9fa4;
}